<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Reset Password</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="resetPasswordForm">
                            <div class="input-field"
                                [class.error]="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required','password')">
                                <span class="fa fa-lock px-2"></span>
                                <input formControlName="password" [type]="typePassword" placeholder="Password" required>
                                <button type="button" (click)="hideShowPass('password')" class="bg-white text-muted">
                                    <span class="fa {{eyeIconPassword}}"></span>
                                </button>
                            </div>

                            <small
                                *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required','password')"
                                class="text-danger">* Password is required
                            </small>
                            
                            <div class="input-field mt-2"
                                [class.error]="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required','confirmPassword')">
                                <span class="fa fa-lock px-2"></span>
                                <input formControlName="confirmPassword" [type]="typeConfirmPassword"
                                    placeholder="Confirm Password">
                                <button type="button" (click)="hideShowPass('confirmPassword')"
                                    class="bg-white text-muted">
                                    <span class="fa {{eyeIconConfirmPassword}}"></span>
                                </button>
                            </div>
                            <small
                                *ngIf="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required','confirmPassword')"
                                class="text-danger">* Confirm password is required
                            </small>
                            <small
                                *ngIf="resetPasswordForm.hasError('confirmPasswordValidator','confirmPassword')"
                                class="text-danger">* Password doesn't match
                            </small>

                            <button (click)="onReset()" type="submit"
                                class="btn btn-primary btn-block mt-4 w-100">Reset</button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>